.App {
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.cloudy {
  background-image: url("Images/scarf.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  height: 40px;

}
.chancerain {
  background-image: url("http://icons.wxug.com/i/c/k/chancerain.gif");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  height: 40px;
}

.header{
    color: blue;
    width: 100%;
    height:40px;
}
.conditions{
    width:100%;
    min-height: 130px;
    display: block;
}
.conditions_l{
    float:left;
    
    height: 100%;
    text-align: center;
}

.conditions_r{
    float:right;
    
    height: 100%;
    text-align: center;
}
.conditions_r_hilo{
    font-family: "Mukta Mahee";
    font-size: 22px;
}

.compare{
    font-family: "Pacifico";
    font-size: 22px;
    min-width: 100%;
    text-align: center;
}
.conditions_r_temp{
    font-family:"Passion One";
    font-size: 50px;
    font-weight: 900;
}
td{
    width: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
