#App{

	background-repeat: no-repeat;
	background-size:cover;
	height:100vh;
	color: aliceblue;
	text-shadow: 1px 1px 6px black;
position:relative;
}


.header{
	font-size: 19px;
	margin-bottom: 10px;
	padding:10px;

}




.conditions{

	display: inline-block;
	position:relative;
	width:100%;
	height:35%;
	font-family: "Mukta Mahee";
	font-size: 20px;
}


.conditions_l{

	width: 50%;
	float: left;
	height: 100%;
	text-align: center;
	margin-left: 0px;

}

.conditions_r{
	width: 50%;
	float:right;
	height: 100%;
	text-align: center;

}

.conditions_l_emoji{
	height:150 px;
	width:150 px;
}



.conditions_l_cond{

}

.conditions_r_hilo{
	font-family: "Mukta Mahee";
	font-size: 25px;
	padding-bottom: 5px;
	padding-top: 5px;

}

.conditions_r_temp{
	font-family:"Graduate";
	font-size: 70px;
	font-weight: 900;
	text-shadow: 1px 1px 13px black;
	margin-bottom: 2px;
	margin-top: -5px;
}

.conditions_r_fl{
	margin-top: 12px;

}


.rest{


}



table {
	width: 100%;
	text-align: center;
	min-height: 80px;
	background-color:rgba(0,0,0,0.2);
}



.compare{
	font-family: "Pacifico";
	font-size: 30px;
	min-width: 100%;
	text-align: center;
}

.footer{
	width: 100%;
	display: inline-block;
	text-align: center;
}

#header_dropdown{
	width:74%;
	height:0%;
	left:40px;
	background-color:rgba(0,0,0,0.2);
	position:absolute;
	top:-40%;
	z-index:1;
	transition: 0.9s;
	display: inline-block;
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 3px;
	border-radius: 8px;
}

.header_search{


}

#country,#city{
	border-radius: 8px;
	border: 1px solid #ccc;
	margin: 8px 2px;
}

#go{

	border-radius: 8px;
	background-color:#5e605f ; /* Green */
    border: none;
    color: white;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;



}
.header_share{

	position: absolute;
	 top: 12px;
	 right: 16px;
	 font-size: 18px;

}

.header_location{
	width: fit-content;
	margin: 0 auto;
	margin-top:-40px;
}

#theTake{
	top:58.90vh;
	height:300%;
	width:100%;
	max-height: 42.5vh;
	position:absolute;
	background-color:rgba(0,0,0,0.7);
	left:-100%;
	z-index:1;
	transition: 0.9s;
	display: inline-block;
	font-size: 20px;
	overflow-y: auto;
}

#theTravel,#theTake{
	top:58.90vh;
	height:300%;
	width:100%;
	max-height: 42.5vh;
	position:absolute;
	background-color:rgba(0,0,0,0.7);
	left:-100%;
	z-index:1;
	transition: 0.9s;
	display: inline-block;
	font-size: 20px;
	overflow-y: auto;
}

#bakerloo{
    background-color: #996633;
}

#central{
	background-color:red;
}

#circle{
    background-color: #ffcc00;
}

#district{
    background-color: #006633;
}

#hammersmith-city{
    background-color: #FF99CC;
}

#jubilee{
    background-color: #666666;
}

#metropolitan{
    background-color: #990033;
}

#northern{
    background-color: #000000;
}

#piccadilly{
    background-color: #003399;
}

#victoria{
    background-color: #3399CC;
}

#waterloo-city{
    background-color: #66CCCC;
}

.scroll{
	height: 80%;
	max-height: 27vh;
	overflow-y: auto;
	width: 100%;
}

.closebutton{
	width: 100%;
	height: 100%;
}


.footer_take{

	padding-top: 5px;
	width: 48%;
	background-color:rgba(0,0,0,0.2);
	float:left;
	min-height: 150px;
}

.footer_take:hover{
	background-color:rgba(0,0,0,0.5);
}

.footer_travel{
	padding-top: 5px;
	width: 48%;
	background-color:rgba(0,0,0,0.2);
	float:right;
	min-height: 150px;
}

.footer_travel:hover{
	background-color:rgba(0,0,0,0.5);
}

input {
	margin-right: 10px;
	width: 80%;

}

button{
	all: unset;
}

form{
	display: inline-flex;
}
