.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.cloudy {
  background-image: url("Images/scarf.png");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  height: 40px;
    width:40px;
}
.chancerain {
  background-image: url("http://icons.wxug.com/i/c/k/chancerain.gif");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  height: 40px;
    width: 40px;
}


.header{
    color: blue;
}

td{
    
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
